@model IEnumerable<BusinessObject.CartItem>
@using BusinessObject
@using eStore.Controllers.Utils
@{
    const string MEMBER_KEY = "Member";
    MemberObject member = SessionExtensionsUtils.GetObjectFromJson<MemberObject>(Context.Session, MEMBER_KEY);
}
@{
    ViewData["Title"] = "Cart";
}
@if (member != null && member.MemberId == 1)
{
    <h3>This page just for user</h3>
}
else
{
    <h1>Cart</h1>

    <h2>GIỎ HÀNG</h2>
    <h3>@ViewBag.Message</h3>

    @if (Model.Count() > 0)
    {
        decimal total = 0;
        int stt = 1;

        <table class="table">
            <tr>
                <th>#</th>
                <th>Sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th></th>
            </tr>
            @foreach (var cartitem in Model)
            {
                var itemMoney = cartitem.quantity * cartitem.product.UnitPrice;
                total += itemMoney;

                <tr>
                    <td>@(stt++)</td>
                    <td>@cartitem.product.ProductName</td>
                    <td>@(cartitem.product.UnitPrice.ToString("n0"))</td>
                    <td><input asp-for="@cartitem.quantity" id="@($"quantity-{cartitem.product.ProductId}")" /></td>
                    <td>@(itemMoney.ToString("n0"))</td>
                    <td>
                        <button class="btn btn-success updatecartitem"
                    data-productid="@cartitem.product.ProductId">
                            Update
                        </button>
                        <a asp-route="removecart" asp-route-productid="@cartitem.product.ProductId"
               class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="4" class="text-right">Total Amount</td>
                <td>@(total.ToString("n0"))</td>
                <td></td>
            </tr>
        </table>

        <a asp-controller="Product" asp-action="Checkout" class="btn btn-success">Checkout</a>

        @section Scripts {
    <script>
        $(document).ready(function () {
            $(".updatecartitem").click(function (event) {
                event.preventDefault();
                var productid = $(this).attr("data-productid");
                var quantity = $("#quantity-" + productid).val();
                $.ajax({
                    type: "POST",
                    url: "@Url.RouteUrl("updatecart")",
                    data: {
                        productid: productid,
                        quantity: quantity
                    },
                    success: function (result) {
                        window.location.href = "@Url.RouteUrl("cart")";
                    }
                });
            });
        });
    </script>
      }
    }
    else
    {
        <p class="alert alert-danger">Giỏ hàng trống</p>
    }
}

