@using Microsoft.AspNetCore.Http
@model IEnumerable<BusinessObject.OrderObject>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? memberId = Context.Session.GetInt32("id");
}
@if(memberId != null){
    <h1>Order</h1>
    if(memberId == 1){
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MemberId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemberId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.OrderId })
                        @if (memberId == 1)
                        {
                            @Html.Raw("| ");
                            @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

