@using Microsoft.AspNetCore.Http
@model IEnumerable<BusinessObject.OrderObject>
@using BusinessObject
@using eStore.Controllers.Utils
@{
    const string MEMBER_KEY = "Member";
    MemberObject member = SessionExtensionsUtils.GetObjectFromJson<MemberObject>(Context.Session, MEMBER_KEY);
}
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? memberId = Context.Session.GetInt32("id");
}

<h1>Order</h1>
@*@if (member != null && member.MemberId == 1)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}*@
<br />
@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MemberId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemberId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @if (member == null || member.MemberId != 1)
                        {
                            @Html.ActionLink("Details", "Details", new { id = item.OrderId })
                        }
                        else
                        {
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.OrderId })
                            @Html.Raw("| ");*@
                            @Html.ActionLink("Details", "Details", new { id = item.OrderId })
                            @Html.Raw(" | ")
                            @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}else{
    <h3>Don't have order in list</h3>
}



