@using Microsoft.AspNetCore.Http
@model IEnumerable<BusinessObject.MemberObject>
@using BusinessObject
@using eStore.Controllers.Utils
@{
    const string MEMBER_KEY = "Member";
    MemberObject member = SessionExtensionsUtils.GetObjectFromJson<MemberObject>(Context.Session, MEMBER_KEY);
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? memberId = Context.Session.GetInt32("id");
}
@if(member != null){
    <h1>Member</h1>
    if (member.MemberId == 1)
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    }
    if(Model != null && Model.Any()){
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MemberId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MemberId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.MemberId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.MemberId })
                            @if (member.MemberId != item.MemberId)
                            {
                                @Html.Raw("| ")
                                @Html.ActionLink("Delete", "Delete", new { id = item.MemberId })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }else{
        <h3>Don't have member in list</h3>
    }
    
}else{
   <h3>Login to view this page</h3>
}


